/*personalization fonts,backgronds and sizes */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #323646;
}

#title {
    font-size: 30px;
    text-align: center;
    color: #3A71BB;
    margin: 0px;
}

p {
    font-size: 18px;
    font-weight: 400;
    display: inline;
    margin: 0;
    color: whitesmoke;

}

.topic {
    font-weight: bold;
    display: inline;
    font-size: 18px;
    color: #3A71BB;
}


/* Icons,images, numbers and ordered list */
ol li {
    list-style-type: none;
}

li .exemples {
    border: 5px ridge white;
    margin: 20px 0 20px 30px;
    display: block;
    width: 600px;
}

li .icons {
    display: inline;
    margin: 0 0 -5px 0;
}

li .exemple-especific {
    border: 5px ridge white;
    display: block;
    margin: 20px 0 20px 30px;
}

#acknowledgment p {
    float: right;
    font-weight: bolder;
    font-size: 20px;
    padding: 15px;
}